/**
 * FIT SIZE: 768PX
 */
 @media screen and (min-width: 768px) {}

/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {
    /* ABOUT */
    html[dir="rtl"] .about .about-content { 
        padding-left: 0; 
        padding-right: 16%; 
    }

    /* OUR SOLUTIONS */
    html[dir="rtl"] .our-solutions .title-out-solutions {
        left: auto;    
        right: 46%;
    }

    html[dir="rtl"] .our-solutions .arrow-lg {
        left: auto;     
        right: 42.5%;
    }

    /* PROUDLY */
    html[dir="rtl"] .proudly .img-proudly { 
        margin-left: 0; 
        margin-right: auto; 
    }

    .proudly .title-proudly {
        left: auto; 
        right: 0; 
    }

    /* SECTION TWO DETAILS */
    html[dir="rtl"] .section-two-details .bg-image {
        right: auto;
        left: auto;
    }

    /* NEWS */
    html[dir="rtl"] .news .title { text-align: start !important; }
}

/**
 * FIT SIZE: 1320px
 */
@media screen and (min-width: 1440px) {}