/**
 * FIT SIZE: 768PX
 */
 @media screen and (min-width: 768px) {
    /* STYLE GUIDE */
    :root {
        --fs-display-large: 4rem;
        --fs-display-medium: 3rem;
        --fs-display-small: 2.6rem;
        --fs-headline-small: 2.4rem;
    }

    /* COMPONENTS */

    /**
     * BUTTONS
     */
    .btn { padding: 20px 45px; }
}

/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {
    /* COMPONENTS */

    /**
     * LOGO
     */
    .logo .img-logo {
        min-width: 246px;
        max-width: 246px;
        min-height: 78px;
        max-height: 78px;
    }
    
    /**
     * CARDS
     */
    .card-new img { 
        min-height: 400px; 
        max-height: 400px; 
    }

    /* HEADER */
    .header { height: 98px; }
    
    .header .container { 
        padding-inline: 40px !important;
        max-width: 100% !important; 
    }

    /* ABOUT */
    .about { padding-block: 200px 50px; }

    .about .p-top { 
        margin-bottom: 30px; 
        font-size: var(--fs-display-small) !important;
        font-weight: var(--weight-800) !important;
        line-height: var(--fs-display-small);
        letter-spacing: 2px;
    }

    .about .about-content { padding-left: 8%; }

    /* OUR SOLUTIONS */
    .our-solutions .title-out-solutions {
        position: absolute;
        top: 80px;
        left: 46%;
        font-size: var(--fs-display-medium) !important;
        font-weight: var(--weight-700) !important;
        line-height: var(--fs-display-medium);
        letter-spacing: 4px;
    }

    .our-solutions .text-p { max-width: 450px; }

    .our-solutions img { 
        object-fit: cover;
        max-width: 450px;
        height: 500px; 
    }

    .our-solutions .arrow-lg {
        position: absolute;
        bottom: 5%;
        left: 42.5%;
    }

    /* PROUDLY */
    .proudly .img-proudly { margin-left: auto; }

    .proudly .title-proudly {
        position: absolute;
        top: 100px;
        left: 0;
        font-size: var(--fs-display-medium) !important;
        font-weight: var(--weight-600) !important;
        line-height: var(--fs-display-medium);
        letter-spacing: 4px;
    }

    /* SECTION TWO DETAILS */
    .section-two-details .bg-image {
        background-size: cover !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
    }

    /* COMPANIES */
    .companies .col-one {
        padding: 100px 30px 100px 100px;
        width: 47% !important;
        height: 300px;
    }

    .companies .col-two { height: 300px; }
}

/**
 * FIT SIZE: 1320px
 */
@media screen and (min-width: 1440px) {
    /* STYLE GUIDE */
    :root {
        --fs-display-large: 5rem;
        --fs-display-medium: 3.2rem;
        --fs-display-small: 2.8rem;
        --fs-headline-small: 2.6rem;
    }
}